<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1021646648188-sf58blor0h6qgrr6o8kn1on63gpn3s9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021646648188-sf58blor0h6qgrr6o8kn1on63gpn3s9m</string>
	<key>API_KEY</key>
	<string>AIzaSyA1n09baQgPalohfU_ToAdbuVOkt4rTJn8</string>
	<key>GCM_SENDER_ID</key>
	<string>1021646648188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chacha.lol.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-c6e4d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-c6e4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021646648188:ios:c38e43ee2f87f823</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-c6e4d.firebaseio.com</string>
</dict>
</plist>